*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 1920px;
    min-width: 1280px;
    background-color: #FFEBEB
}

.nav li{
    padding: 0%;
    margin: 0%;
    font-size: 32px;
    font-family: hel;
    src: url(fonts/HelveticaNeueLTStd-Md.woff);
    padding-left: 77px;
    padding-right: 77px;
    list-style: none;
    float: right;
    line-height: 55px; 

}

.nav{
    width: 100%;
    border: 60px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.title{

}